extends layout

block content
    p.info 欢迎来到第三关。
    p.info 第一个红包的口令是: 736810974
    p.info 考虑到这个页面大概率是用手机访问的
    p.info 那么我们就用手机解密吧
    p.info 信息: 
        code 1BEKU0, EBKNX#, 1BENXUQ1HQ*, 1HQ*0#XNE, 0, 01HQ*KU0, HKNBKU0#, *QHKU0NX#, BKU0
